<!-- perfil de usuário -->
<div class="col-sm-3 col-md-3">
  <ul class="nav nav-pills nav-stacked list-group-item">
      <li><img src="../assets/images/user.png" class="img-responsive img-circle"></li>
      <li align="center">Usuário</li>
      <br>

      <li routerLinkActive="active" role="presentation">
        <a routerLink="scndiaguser"><span class="glyphicon glyphicon-home">
          </span> Início</a></li>

          <li routerLinkActive="active" role="presentation">
          <a routerLink="eduserprof"><span class="glyphicon glyphicon-user">
            </span> Editar Perfil</a></li>

          <li role="presentation">
            <a routerLink=""><span class="glyphicon glyphicon-share-alt">
              </span> Sair</a></li>
  </ul>
</div>
<!-- perfil de usuário -->
