<!-- editar perfil -->
<div class="col-sm-9 col-md-9">
  <form class="list-group-item" action="user-screen.html">
      <h3>Editar Perfil</h3>

      <br>

      <!-- alterar nome -->
      <div class="form-group">
          <label for="alterar-nome">Alterar nome</label>
          <input type="text" class="form-control" name="alterar-nome" id="alterar-nome" placeholder="Digite aqui">
      </div>
      <!-- alterar nome -->

      <br>

      <!-- alterar senha -->
      <div class="form-group">
          <label for="senha-antiga">Senha antiga</label>
          <input type="password" class="form-control" id="senha-antiga" placeholder="Digite aqui">
          <br>
          <label for="nova-senha">Nova senha</label>
          <input type="password" class="form-control" id="nova-senha" placeholder="Digite aqui">
          <br>
          <label for="nova-senha-repetida">Confirme a nova senha</label>
          <input type="password" class="form-control" id="nova-senha-repetida" placeholder="Digite aqui">
      </div>
      <!-- alterar senha -->

      <br>

      <!-- alterar imagem -->
      <div class="form-group">
          <label for="img-perfil">Alterar foto</label>
          <input class="form-control" type="file" id="img-perfil">
      </div>
      <!-- alterar imagem -->

      <br>

      <!-- salvar alterações -->
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar alterações</button>
      <!-- salvar alterações -->
  </form>
</div>
<!-- editar perfil -->
