 <!-- box login -->
 <div class="container pull-center">
  <div class="col-xs-12 col-sm-6 col-md-3 box-login list-group-item">
      <header>
          <div  align="center">
              <h4>Login</h4>
              <br>
          </div>
      </header>

      <form #form="ngForm" novalidate >
          <!-- usuário -->
              <app-input errorMessage="Campo obrigátorio" label="Usuário" >
                <input class="form-control" name="usuario"  placeholder="Digite aqui" minlength="3"
                  ngModel required >
              </app-input>
          <!-- usuário -->

          <!-- senha -->
              <app-input errorMessage="Campo obrigatório" label="Senha">
                <input type="password" class="form-control" name="senha" minlength="6" ngModel
                  placeholder="Digite aqui" required autocomplete="off">
              </app-input>
          <!-- senha -->

          <!-- logar -->
          <input type="submit" (click)="login(form.value)" class="btn btn-primary btn-group-justified"
            value="Logar" [disabled]="!form.valid">
          <!-- logar -->
      </form>
  </div>
</div>
<!-- box login -->
