 <!-- editar perfil -->
 <div class="col-sm-9 col-md-9">
  <form class="list-group-item" action="admin-screen.html">
      <h3>Cadastrar CD</h3>

      <br>

      <!-- cadastrar nome -->
      <div class="form-group">
          <label for="cadastrar-nome">Nome</label>
          <input type="text" class="form-control" name="cadastrar-nome" id="cadastrar-nome" placeholder="Digite aqui">
      </div>
      <!-- cadastrar nome -->

      <br>

      <!-- CRO -->
      <div class="form-group">
          <label for="cadastrar-cro">CRO</label>
          <input type="text" class="form-control" name="cadastrar-cro" id="cadastrar-cro" placeholder="Digite aqui">
      </div>
      <!-- CRO -->

      <br>

      <!-- cadastrar senha -->
      <div class="form-group">
          <label for="cadastrar-senha">Senha</label>
          <input type="password" class="form-control" name="cadastrar-senha" id="cadastrar-senha" placeholder="Digite aqui">
          <br>
          <label for="cadastrar-senha-confirmada">Confirme a senha</label>
          <input type="password" class="form-control" name="cadastrar-senha-confirmada" id="cadastrar-senha-confirmada" placeholder="Digite aqui">
      </div>
      <!-- cadastrar senha -->

      <br>

      <!-- cadastrar usuário -->
      <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span> Cadastrar CD</button>
      <!-- cadastrar usuário -->
  </form>
</div>
<!-- editar perfil -->
